__pycache__
.vscode
.idea
pymakr.conf
esp-idf-water/
build/
cmake-build-debug/

# dataset
cal500data
emotifymusic

# training checkpoints
music_analyzer/mood_recog/checkpoints/checkpoint_*/*.pkl
music_analyzer/mood_recog/checkpoints/checkpoint_*/*.pt
music_analyzer/mood_recog/model.pt

# music
central_server/music
